{% extends "layout.html" %}
{% block menu %}
    {% for food in foods %}
    <div class="food-item">
        <img src="{{ foodId.image }}" alt="{{ foodId.name }}">
        <div class="food-box">
            <p>{{ food.name }} </p>
            <a href="index.php?foodid={{ food.id }}">More details aboutus {{ food.name }}</a>
        </div>
    </div>
    {% endfor %
{% endblock %}  




1.	Pizza Margherita
Tomato sauce, mozzarella, and oregano

2.	Pizza Pepperoni
Tomato sauce, mozzarella, oregano and pepperoni

3.	Vegetarian Pizza
Tomato sauce, mozzarella, oregano, peppers, spinach, onions and corn

4.	Spaghetti Bolognese
Spaghetti, tomato sauce, minced meat, onions, peas, peppers and mushrooms

5.	Calzone Capo Di Monte
Mozzarella, parmigiano, fontina cheese, trevisana, rucola, prosciutto crudo and Grana Padano

6.	Lasagne Al Ragu Di Bologna
Traditional baked lasagne with a rich meat sauce

7.	Vino Rosso

8.	Vino Bianco
